body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 0;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
}

button{
    padding: 11px 30px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-size: large;
    font-weight: 700;
    margin: 12px;
}

/* Header */
.Header{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgb(25, 25, 26);
    padding : 10px;
    margin: 0;
}

.headerOne{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.headLogo{
    height: 70px;
    width: 120px;
    padding: 10px;
    margin: 0;
    display: flex;
}

.backgroundImage{
    height: 630px;
    width: 630px;
    object-fit: contain;
}

.introAndSignup{
    color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 100px;
    gap: 25px;
}

.websiteName{
    font-size: 48px;
    font-weight: 900;
}

/* Bottom */
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin: 30px;
}

.bottomText{
    font-size: 36px;
    font-weight: 900;
    color: rgb(25, 25, 26);
}

.container{
    display: flex;
    align-items:first baseline;
    flex-wrap: wrap;
    gap: 100px;
}

.ninjaImg{
    height: 250px;
    border: 8px solid rgb(25, 25, 26);
    border-radius: 8px;
}

.ninja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 16px;
    width: 180px;
}

.text{
    color: rgb(51, 51, 51);
}

/* Under Bottom */
.underBottom{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: auto;
    margin: 0;
    width: 100vw; /* Full viewport width */
    margin-left: calc(-50vw + 50%); /* Center alignment hack */
    padding: 100px 300px; /* Optional padding to prevent content from touching edges */
    box-sizing: border-box; /* Include padding in width calculation */
}

.quoteText{
    font-size: 36px;
    color: #1f2937;
}

.qouteOwner{
    font-weight: 900;
}

.signupNow{
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 152, 12);
    padding: 50px;
    border-radius: 8px;
    margin-top: 80px;
}

.signupNowText{
    display: flex;
    flex-direction: column;
    color: white;
}

.signupNowTextOne{
    font-size: 24px;
}

.signupNowTextTwo{
    color: rgb(199, 198, 198);
}

.signupBTN{
    background-color: rgb(160, 17, 160);
}

/* footer */
.footer{
    background-color: rgb(25, 25, 26);
    color: white;
    width: 100vw; /* Full viewport width */
    margin-left: calc(-50vw + 50%); /* Center alignment hack */
    padding: 20px; /* Optional padding to prevent content from touching edges */
    box-sizing: border-box; /* Include padding in width calculation */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}